
<%= form_for(@code) do |f| %>
  <% if @code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code.errors.count, "error") %> prohibited this code from being saved:</h2>

      <ul>
      <% @code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

  

    <% if true %>
    <!--id ="editor"-->
    <div  style="height: 300px" id ="editor"> </div>

    <% end %>




  </div>


    <textarea name="hidden"> </textarea>


  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>




<script src="/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/assembly_x86");


    var textarea = $('textarea[name="hidden"]').hide();
    editor.getSession().on('change', function(){
      textarea.val(editor.getSession().getValue());
    });
</script>



<!--
<script>
  var editor = ace.edit("description");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/assembly_x86");
  var textarea = $('textarea[name="description"]').hide();
  editor.getSession().setValue(textarea.val());
  editor.getSession().on('change', function(){
    textarea.val(editor.getSession().getValue());
});

</script>
-->